@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #0a0705;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Space Grotesk', sans-serif;
}
